* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.event_banner {
  background-image: url('../image/Group 183 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.header_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.stocksun_logo {
  width: 16%;
  padding-left: 41px;
  padding-top: 15px;
}

.title_top {
  font-family: Noto Sans JP;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 43px;
  padding-bottom: 42px;
  margin: 0 auto;
}

.maintitle{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.date_time{
  font-family: Roboto;
  font-size: 33.37px;
  font-style: italic;
  font-weight: 700;
  line-height: 43.37px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 18px;
}

.event_place_text{
  font-family: Noto Sans JP;
font-size: 29.19px;
font-weight: 700;
line-height: 29.19px;
  text-align: center;
  padding-bottom: 47px;
  color: #FFFFFF;
}

.apply_button_rapper{
  padding-bottom: 92px;
}